*{
    margin: 0;
    padding: 0;
    font-family: "Arial", Helvetica, "sans-serif";
    color: white;
    
}



body{
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.6)),url(assets/bg-netflix.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
.header{
    margin: 30px;
    display: flex;
    justify-content: space-between;
    padding: 0px 310px;
    
}

.botoes{
    align-items: center;
    display: flex;
    gap: 20px;
    font-weight: bold;
}

.login{
    text-decoration: none;
    background: red;
    padding: 10px 20px;
    border-radius: 4px;
    

}
.login:hover{
    background: #8b0000;
    cursor: pointer;
}

.language{
    border: 1px solid;
    padding: 10px 20px; 
    border-radius: 4px;
    cursor: pointer;
}

main{
    justify-items: center;
    padding: 200px;
    text-align: center;
}

.titulo{
    font-size: 50px;
    width: 980px;
    font-weight: bolder;
}

.subtitulo{
    padding: 25px;
    font-size: 35px;
}

.sub2{
    font-size: 15px;
    font-weight: normal;
    padding: 25px;

}

.info{
    justify-content: center;
    display: flex;
    gap: 16px;
}

.email input{
    display: flex;
    align-items: center;
    text-align: left;
    border: 0.5px solid;
    padding: 25px; 
    width: 470px;
    border-radius: 4px;
    cursor: text;
    font-size: 17px;
    background-color: rgba(32, 30, 30, 0.6);
}

.email ::placeholder{
    color: white;
}

.letsgo{
    text-decoration: none;
    background: red;
    padding: 25px;
    border-radius: 5px;
    width: 110px;
    font-weight: bold;
    font-size: 21px;

}


.letsgo:hover{
    background: #8b0000;
    cursor: pointer;
}
