* {
    margin: 0;
    padding: 0;
    font-family: "Arial", Helvetica, sans-serif;
}

.header{
    margin: 30px;
}

.logo{
    margin-left: 300px;
}


body{
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.6)),url(assets/bg-netflix.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.container-form {
    width: 516px;
    height: 685px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border-radius: 4px;
    padding: 48px 64px;
    box-sizing: border-box;
    font-size: 18px;
    margin: 0 auto;
    margin-top: 90px;
    margin-bottom: 50px;
}

.form-login {
    
    display: flex;
    flex-direction: column;
}

.form-login h3 {
    margin-bottom: 20px;
    font-size: 32px;
}

.form-login label{
    font-size: 16px;
    margin-bottom: 2px;
}

.form-login button {
    font-size: 15px;
    padding: 12px;
    border-radius: 5px;
    border: none;

}

.form-login input {
    color: white;
    font-size: 16px;
    padding: 15px;
    border: 0.1px solid;
    border-color: rgba(173, 177, 177, 0.4);
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.6);
}


.label-OU {
    color: darkgrey;
    margin: 12px 0;
    text-align: center;
    font-size: 15px;
}


.form-login #email {
    margin-bottom: 12px;
}

#password {
    margin-bottom: 20px;
}



.bot-entrar {
    margin-bottom: 5px;
    font-weight: bold;
    background-color: red;
    color: white;
}

.bot-entrar:hover{
    background: #a00808;
}

.cod-acesso {
    margin-top: 10px;
    color: white;
    font-weight: bold;
    background-color: rgba(160, 159, 159, 0.377);
    
}

.cod-acesso:hover{
    background-color: rgba(116, 114, 114, 0.377);
}

.senhaesq{
    text-align: center;
}
.senhaesq a{
    color: white;
}

.remember-senha{
    margin-top: 15px ;

}

.remember-senha label input{
    
    accent-color: #fff;
    margin-right: 5px;
}

.text{
    display: flex;
}

.text span{
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
}

.text a{
    text-decoration: none;
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-weight: 700;
}

.paragrafo p{
    font-size: 13px;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 6px;
}

.paragrafo a{
    font-size: 13px;
    color: #448ef4;
    
}


.container-footer{
    margin-top: 30px;
    height: 340px;
    background-color: #161616;  
}

.contant-footer{
    
    margin-left: 140px;
    margin-right: 500px;
    padding: 55px 30px 30px;
    color: rgba(255, 255, 255, 0.7); 
    font-size: 16px;
    
}

.footer-end{
    display: flex;
    justify-content: space-between;
    margin-top: 23px;
    margin-bottom: 25px;

}

.footer-end ul{
    list-style-type: none;
}

.f1 a{
    color: rgba(255, 255, 255, 0.7); 
    
}


.f1 li{
    padding: 8px;
}


.f2 a{
    color: rgba(255, 255, 255, 0.7); 
    
}

.f2 li{
    padding: 8px;
    
}

.language{
    background-color: transparent;
    font-weight: 700;
    border: 1px solid white;
    color: white;
    padding: 10px 25px; 
    border-radius: 4px;
    cursor: pointer;
}
.language option{
    color: white;
    background-color: #6697db;
    font-weight: 700;
}
